.zerostateFavoritesText {
    margin: .5em 0 0 0;

    font-size: 1em;
    text-align: center;
}

//liked.ejs page
.favoriteLikedText {
    margin-top: 2em;
    border-bottom: .25em solid var(--accent-color);

    font-size: 1.25em;
    text-align: center;
}