form {
    display: flex;
    flex-direction: column;
    align-items: start;

    label {
        margin-bottom: .3em;

        font-family: "Recky";
        font-size: 1.2em;
        text-transform: uppercase;

        color: #000000;

        cursor: pointer;
    }

    input,
    select {
        padding: .5em;
        margin-bottom: 2em;
        border: none;
        border-radius: .25em;
        width: 100%;
        max-width: 30em;

        font-family: var(--font-family);
        font-size: 1em;

        color: var(--accent-color);
        background-color: #ffffff;

        cursor: pointer;

        &::placeholder {
            color: var(--accent-color);
        }
    }

    ul {
        margin-bottom: 2em;
        width: 100%;

        list-style: none;
    }

    li {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1ch;

        input {
            margin-bottom: 0;
            width: auto
        }

        label {
            font-family: var(--font-family);
            font-size: 1em;
            text-transform: none;

            color: var(--accent-color);
        }
    }

    input[type="submit"] {
        margin-top: 1em;
        padding: .5em;
        border: none;
        border-radius: .25em;

        font-family: "Recky";
        font-size: 1.2em;
        text-transform: uppercase;

        color: #ffffff;
        background-color: var(--accent-color);

        cursor: pointer;
    }
}

.comment-form {
    textarea {
        margin-bottom: 1em;
        padding: .5em;
        border: none;
        border-radius: .25em;
        width: 100%;

        resize: none;

        font-family: var(--font-family);
        font-size: 1em;
        
        &::placeholder {
            color: var(--accent-color);
        }
    }
}

.login,
.register {
    form {
        width: 80%;
        height: 50%;

        display: flex;
        flex-direction: column;

        label {
            color: #ffffff;
        }
    }
}

.profiel {
    form {
        width: 75%;
    }
}

/* File Input */
.file-input {
    width: 100%;
}

.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 16em));
    gap: 1em;
}

.image-list img {
    margin-bottom: 1em;
    border-radius: .5em;
    width: 100%;

    aspect-ratio: 1/1;
    object-fit: cover;
}

.image-list .upload-image-container {
    position: relative;
}

.image-list button {
    padding: 0;
    border-radius: 100%;
    width: 2em;
    height: 2em;

    position: absolute;
    top: .5em;
    right: .5em;

    display: grid;
    justify-content: center;
    align-content: center;

    font-size: 1em;

    background-color: #ffffff;
    color: var(--text-color);
}

input[type="file"] {
    padding: 0;
    background-color: transparent;
}

input[type="file"]::file-selector-button {
    padding: .5em;
    border: none;
    border-radius: .25em;

    font-family: "Recky";
    font-size: 1.2em;
    text-transform: uppercase;

    color: #ffffff;
    background-color: var(--accent-color);

    cursor: pointer;
}

/* submit button loading */
.post-form {

    button[type="submit"]:after {
        margin-left: 1ch;
        content: '✓';
    }

    button[type="submit"].loading {
        background-color: #808080;
    }

    button[type="submit"].loading:after {
        border-radius: 50%;
        border-width: .1875em;
        border-style: solid;
        border-color: var(--accent-color) transparent;
        height: 1em;

        display: inline-block;

        aspect-ratio: 1/1;

        content: '';

        animation: rotate 2s linear infinite;
    }
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}