/* header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    height: var(--header-height);

    h1 {
        font-family: "Recky", sans-serif;
        text-transform: uppercase;
        color: #e0815e;
        font-size: 3em;
        margin-left: .5em;
    }
}

nav {

    ul {
        font-family: "Recky";
        display: flex;
    }

    li {
        display: flex;
        align-items: flex-end;
        font-size: 1.2em;
        padding: .5em;
        border-radius: 15px;
        background-color: #fef2ca;
        color: #e0815e;
        margin: 0 .3em;
        text-transform: uppercase;
        box-shadow: 0px 4px 16px rgba(63, 63, 63, 0.1);
    }

    li img {
        margin-right: .5em;
    }

    a:last-of-type li {
        background-color: var(--accent-color);
        color: #fef2ca;
    }
}