/* header styling */
header {
    height: var(--header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--header-color);

    h1 {
        margin-left: .5em;

        font-family: "Recky", sans-serif;
        font-size: 3em;
        text-transform: uppercase;

        color: #e0815e;
    }
}

nav {
    
    ul {
        display: flex;

        font-family: "Recky";
    }

    li {
        margin: 0 .3em;
        padding: .5em;
        border-radius: .8em;
        box-shadow: 0 .25em 1em #3f3f3f1a;

        display: flex;
        align-items: flex-end;

        font-size: 1.2em;
        text-transform: uppercase;

        color: #e0815e;
        background-color: #fef2ca;

        img {
            margin-right: .5em; 
        }
    }

    a:last-of-type li {
        background-color: var(--accent-color);
        color: #fef2ca;
    }
}