.login {
    main {
        width: 100%;
        height: calc(100vh - var(--header-height));

        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url(../static/images/katbg.png);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;

        overflow-y: hidden;
    }
}

.register {
    main {
        width: 100%;
        height: calc(100vh - var(--header-height));

        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url(../static/images/dogbg1.jpg);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: cover;

        overflow-y: hidden;
    }
}

.login,
.register {
    main div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main div:first-of-type section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main div:first-of-type section > h1 {
        font-size: 3.3em;

        color: #e0815e;
    }

    main div:first-of-type section > h2 {
        margin-bottom: 1em;

        font-family: 'Recky', sans-serif;
        font-size: 2.8em;

        color: #ffffff;
    }

    main div:first-of-type p {
        color: #ffffff;
    }

    main div:first-of-type p {
        color: #e0815e;
    }

    main div:first-of-type p,
    main div:first-of-type p > a {
        font-family: var(--font-family);
    }
}
