.singlePetHeading {
    margin: 0.3em 0 0.3em 0;

    font-family: Recky;
    font-size: 5em;
    font-weight: 100;
    text-align: center;

    color: var(--accent-color);
}

.singlePetUl {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    img {
        margin: 0 0.5em 0 0.5em;
        border-radius: 0.5em;
        width: 20em;
        height: 100%;
        box-shadow: 0.3em 0.3em 0.8em #0001;
    }
}
