/* fonts */
@import url('https://fonts.cdnfonts.com/css/yusei-magic');

@font-face {
    font-family: Recky;
    src: url("/static/Fonts/Recky.ttf") format('truetype');

}

/* general */
:root {
    --header-height: 5em;
    --background-color: #fef2ca;
    --header-color: #EECE79;
    --accent-color: #e0815e;
    --accent-color-hover: #c26442;
    --font-family: 'Yusei Magic', sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: "Recky", sans-serif;
    text-transform: uppercase;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

@import 'header', 'forms', 'comment', 'result-list', 'result-page', 'error';


section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    height: 7em;
    align-items: center;
    font-family: var(--font-family);
}

h2 {
    font-family: var(--font-family);
    font-size: 1.3em;
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

section .ondertekst {
    font-size: 0.6em;
    font-family: var(--font-family);
    padding-bottom: 1em;
}

section:nth-of-type(2) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section:nth-of-type(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

section:nth-of-type(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

section:nth-of-type(5) {
    display: flex;
    justify-content: center;
    padding: 2em;
}

main button {
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 3em;
    padding: .5em 1.5em;
    background-color: var(--accent-color);
    font-family: 'Recky', sans-serif;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: flex-end;
}

main button:hover {
    background-color: var(--accent-color-hover);
}

/* result.ejs main styling */
.petpicture {
    width: 60%;
}

.results {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5em;
    padding: 2em;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    width: 100%;
    align-items: center;
    border: 0.5em solid var(--header-color);
    margin-bottom: 2em;
}

// Inloggen 
.login main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100vh - var(--header-height));
    overflow-y: hidden;
    background-image: url(../static/images/katbg.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.register main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100vh - var(--header-height));
    overflow-y: hidden;
    background-image: url(../static/images/dogbg1.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.profiel main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: calc(100vh - var(--header-height));
    overflow-y: hidden;
}

.login main div:first-of-type,
.register main div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login main div:first-of-type section,
.register main div:first-of-type section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login main div:first-of-type section>h1,
.register main div:first-of-type section>h1 {
    font-size: 3.3em;
    color: #e0815e;

}

.login main div:first-of-type section>h2,
.register main div:first-of-type section>h2 {
    font-size: 2.8em;
    font-family: "Recky", sans-serif;
    color: white;
    margin-bottom: 1em;
}

.login main div:first-of-type p,
.register main div:first-of-type p {
    color: white;
}

.login main div:first-of-type p>a,
.register main div:first-of-type p>a {
    color: #e0815e;
}

.login main div:first-of-type p,
.login main div:first-of-type p>a,
.register main div:first-of-type p,
.register main div:first-of-type p>a {
    font-family: var(--font-family);
}


// mijn profiel
.profiel h1 {
    font-size: 3em;
    font-weight: 400;
    color: #e0815e;
}

.profiel div:first-of-type {
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
}

.profiel div:first-of-type>img {
    border-radius: 10em;
}

.profiel>main>a {
    margin-top: 2em;
}


// comment

.errorpage {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-top: 5em;
}

.errorbutton {
    text-decoration: none;
    border: 0.1em solid var(--accent-color);
    border-radius: 1em;
    padding: 0.5em;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-family: var(--font-family);
}

.uploadform{
    display: flex;
    flex-direction: column;
    align-items: center;
}
