<header>
    <a href="/"><h1>pawfect Match</h1></a>
    <nav>
        <ul>
            <a href="">
                <li>
                    <img src="../static/images/icons/liken.svg">Opgeslagen
                </li>
            </a>
            <a href="/post">
                <li>
                    <img src="../static/images/icons/delen.svg">voeg dier toe
                </li>
            </a>
            <a href="/login">
                <li>
                    <img src="../static/images/icons/profiel.svg">mijn profiel
                </li>
            </a>
        </ul>
    </nav>
</header>