<header>
    <a href="/"><h1>pawfect Match</h1></a>
    <nav>
        <ul>
            <a href="/favorites">
                <li>
                    <img src="../static/images/icons/liken.svg" />Saved pets
                </li>
            </a>
            <a href="/post">
                <li><img src="../static/images/icons/delen.svg" />add pet</li>
            </a>
            <a href="/profile">
                <li>
                    <img src="../static/images/icons/profiel.svg" />my profile
                </li>
            </a>
        </ul>
    </nav>
</header>
