<header>
    <h1>pawfect Match</h1>
    <nav>
        <ul>
            <li>
                <img src="../static/images/icons/liken.svg">Opgeslagen
            </li>
            <li>
                <img src="../static/images/icons/delen.svg">voeg dier toe
            </li>
            <li>
                <img src="../static/images/icons/profiel.svg">mijn profiel
            </li>
        </ul>
    </nav>
</header>
