/* fonts */
@import url('https://fonts.cdnfonts.com/css/yusei-magic');

/* general */
:root {
    --header-height: 3.5em;
    --background-color: #fef2ca;
    --header-color: #e0815e;
    --font-family: 'Yusei Magic', sans-serif;                                        
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: var(--background-color);
    height: 60em;
}

/* header styling */
header nav{
    background-color: var(--header-color);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

nav img{
    height: 9em;
    margin-top: 3.5em;
}

/* index.ejs main styling */

form{
    background-color: rgb(255, 255, 255);
    margin-top: 6em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    border: 0.3em solid #ebeaea;
}

section:nth-of-type(1){
    display: flex;
    justify-content: center;
    height: 7em;
    align-items: center;
    font-family: var(--font-family);
}

h2{
    font-family: var(--font-family);
    font-size: 1.3em;
}

section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

section .ondertekst{
    font-size: 0.6em;
    font-family: var(--font-family);
    padding-bottom: 1em;
}

section:nth-of-type(2){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section:nth-of-type(3){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

section:nth-of-type(4){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

section:nth-of-type(5){
    display: flex;
    justify-content: center;
    padding: 2em;
}

main button{
    text-decoration: none;
    color: var(--background-color);
    border: 0.3em solid #dc7955;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: var(--header-color);
    font-family: var(--font-family);
    cursor: pointer;
}

/* result.ejs main styling */
.petpicture{
    width: 60%;
}

.results{
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5em;
    padding: 2em;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    width: 100%;
    align-items: center;
    border: 0.5em solid var(--header-color);
    margin-bottom: 2em;
}

/* 404page.ejs main styling */
h1{
    font-family: var(--font-family);
    margin-top: 2em;
    margin-left: 1em;
}
