<!DOCTYPE html>
<html lang="nl">

    <%- include ('../view/partials/head') %>
<body>
    <%- include ('../view/partials/header') %>

    <main>
        <h1>404 Url not found error</h1>
    </main>
    <script src="../index.js"></script>
</body>
</html>