<!DOCTYPE html>
<html lang="nl">
    <%- include ('../view/partials/head') %>
    <body>
        <%- include ('../view/partials/header') %>

        <main class="errorPage">
            <h1>User already exists</h1>
            <div>
                <a href="/register" class="errorButton">Try again</a>
                <a href="/login" class="errorButton">Go to log in page</a>
            </div>
        </main>
    </body>
</html>
