<!DOCTYPE html>
<html lang="nl">

    <%- include ('../view/partials/head') %>
<body>
    <%- include ('../view/partials/header') %>

    <main class="errorpage">
        <h1>Gebruiker bestaat al</h1>
        <div>
            <a href="/register" class="errorbutton"><b>Probeer opnieuw</b></a>
            <a href="/login" class="errorbutton"><b>Ga naar inloggen</b></a>
        </div>
    </main>
    <script src="../index.js"></script>
</body>
</html>