<!DOCTYPE html>
<html lang="nl">
<%- include ('../view/partials/head') %>

<body class="login">
    <%- include ('../view/partials/header') %>

    <main >
        <div>
            <section>
                <h1>PAWFECT MATCH</h1>
                <h2>GA VERDER DOOR IN TE LOGGEN</h2>
            </section>
            <form method="post" action="/login/submit">
                <label for="id">E-mail</label>
                <input required type="mail" value="" id="id" name="email" placeholder="vul hier je email adres in">

                <label for="id">wachtwoord</label>
                <input required type="text" value="" id="id" name="wachtwoord" placeholder="vul hier je wachtwoord in">

                <input type="submit" value="inloggen">
            </form>
            <p>heb je nog geen account? <a href="/registreren"><b>Registreer hier</b></a></p>
        </div>

    </main>
</body>

</html>