<!DOCTYPE html>
<html lang="nl">
    <%- include ('../view/partials/head') %>
    <body class="login">
        <%- include ('../view/partials/header') %>
        <main>
            <div>
                <section>
                    <h1>PAWFECT MATCH</h1>
                    <h2>Proceed by logging in</h2>
                </section>
                <form method="post" action="/login/submit">
                    <label for="id">E-mail</label>
                    <input
                        required
                        type="mail"
                        value=""
                        id="id"
                        name="email"
                        placeholder="Fill in you email here"
                    />
                    <label for="id">password</label>
                    <input
                        required
                        type="password"
                        value=""
                        id="id"
                        name="wachtwoord"
                        placeholder="Fill in you password here"
                    />
                    <input type="submit" value="login" />
                </form>
                <p>
                    Dont have an account yet?<a href="/register"
                        ><b> Create one here</b></a
                    >
                </p>
            </div>
        </main>
    </body>
</html>
