<!DOCTYPE html>
<html lang="nl">
<%- include ('../view/partials/head') %>

<body class="login">
    <%- include ('../view/partials/header') %>

    <main>
        <div>
            <section>
                <h1>PAWFECT MATCH</h1>
                <h2>Proceed by logging in</h2>
            </section>
            <form method="post" action="/login/submit">
                <label for="mail">E-mail</label>
                <input required type="mail" id="mail" name="mail" placeholder="Fill in you email here">

                <label for="password">password</label>
                <input required type="password" id="password" name="password" placeholder="Fill in you password here">

                <input type="submit" value="login">
            </form>
            <p>Dont have an account yet?<a href="/register">Create one here</a></p>
        </div>
    </main>
</body>

</html>