<!DOCTYPE html>
<html lang="en">
<%- include ('../view/partials/head') %>

<body>
<%- include ('../view/partials/header') %>

    <main>
        <div>
            <section>
                <h1>Post an animal</h1>
            </section>
                <form action="/post/submit" method="post" enctype="multipart/form-data" class="post-form">
                    
                    <label for="name">Animal Name</label>
                    <input type="text" name="name" id="name" required>

                    <div class="file-input">
                        <div class="image-list"></div>
                        <input type="file" name="images" id="images" multiple accept="image/*" required>
                    </div>

                    <label for="age">Animal Age</label>
                    <select name="age" id="age" required>
                        <option disabled selected value="">choose...</option>
                        <option value="0-2">0-2</option>
                        <option value="2-5">2-5+</option>
                    </select>

                    <label for="species">Species</label>
                    <select name="species" id="species" required>
                        <option disabled selected value="">choose...</option>
                        <option value="cat">cat</option>
                        <option value="dog">dog</option>
                        <option value="bunny">bunny</option>
                    </select>

                    <label>Traits</label>
                    <input type="checkbox" name="trait" value="inquisitive" id="inquisitive"><label for="inquisitive">inquisitive</label>
                    <input type="checkbox" name="trait" value="playful" id="playful"><label for="playful">playful</label>
                    <input type="checkbox" name="trait" value="friendly" id="friendly"><label for="friendly">friendly</label>

                    <button type="submit" id="submit">submit</button>

                </form>
            </div>
    </main>

    <script src="/static/postform.js"></script>

</body>
</html>
